{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-sm-8">

	<h1>{{ accessionid }}</h1>
        <p>{{ description }}</p>

	<dl>
	   {% for record in accessions %} 
             <dt>{{ record }}</dt>
	   {% endfor %}
	</dl>

	<dl>
	   {% for note in adminnotes %}
	     <dt>{{ note }}</dt>
           {% endfor %}
	</dl>

	<dl>
	   {% for legal in legalnotes %}
	     <dt>{{ legal }}<dt>
	   {% endfor %}
	</dl>

    </div>
    <div class="col-sm-4">
        <h3>Segments</h3>
        <dl>
            {% for segment in segment_list %}
            <dt><a href="{{ segment.id }}-0.html">{{ segment.id }}</a></dt>
            <dd>Contains {{ segment.numfiles }} {% if segment.numfiles == 1 %}file{% else %}files{%endif %}</dd>
            {% endfor %}
        </dl>
    </div>

</div>
{% endblock %}
