{% extends "base.html" %} 

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div id="page-list">
            <ul class="pagination">
                <li><a href="#" id="scroll-back-5">&lt;&lt;</a></li>
                <li><a href="#" id="scroll-back-1">&lt;</a></li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#" id="scroll-forward-1">&gt;</a></li>
                <li><a href="#" id="scroll-forward-5">&gt;&gt;</a></li>
            </ul>
        </div>
        <h3>Segment {{ label }} from {{ arkid }}</h3> {% if next_page %}
        <p><a href="{{ next_page }}.html">next page</a></p>
        {% endif %}
        <dl>
            {% for n_file in files %}
            <dt>{{ n_file.name }}</dt>
            <dd>
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ n_file.contenturl }}">content</a></li>
                    <li class="list-group-item"><a href="{{ n_file.presformurl }}">presform</a></li>
                    <li class="list-group-item"><a href="{{ n_file.premisurl }}">premis</a></li>
                    <li class="list-group-item"><a href="{{ n_file.techmdsurl }}/0">fits</a></li>
                </ul>
            </dd>
            {% endfor %}
        </dl>
    </div> 
</div>
{% endblock %}
